{% extends 'index.html' %}
{% load static %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col col-md-3">
            <a class="btn btn-outline-info" href="{% url "create_task" %}">Submit a new task</a>
        </div>
        <div class="col col-md-2">
            <h1>OR</h1>

        </div>
        <div class="col col-md-4">
            <form class="form-inline" method="get">
                <input type="text" name="task_id" class="form-control mb-2 mr-sm-2 w-50"
                       placeholder="Enter a task ID ...">
                <button type="submit" class="btn btn-outline-info mb-2">Check</button>
            </form>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col col-12">
            <div>
                <h4>About project:</h4>
                <p>CLIPath (Contrastive Language–Image Pre-training-Pathology) utilizes the CLIP model from OpenAI to
                    analyze pathology whole slide images and their
                    related reports. The goal is to receive a patch of a WSI image and corresponding query texts, and
                    output the relationship between the queries and input images. </p>
                <p>This analysis can potentially aid in
                    the accurate identification and diagnosis of medical conditions, as well as support medical
                    professionals in their decision-making processes. By leveraging the advanced capabilities of the
                    CLIP model, this project has the potential to significantly improve the efficiency and accuracy of
                    medical imaging analysis.</p>
            </div>
        </div>


    </div>
{% endblock %}
